@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=DM+Serif+Display&family=Quicksand&family=Sarala&display=swap');

html {
    scroll-behavior: smooth;
}

h1 {
    margin-bottom: 1vh;
    font-family: 'DM Serif Display', serif;
    font-size: 6rem;
    color: #E9F5FF;

}

.h1-blue {
    color: #98d1ff;
    filter: drop-shadow(0px 0px 5px #aedbff);
}

h2 {
    margin-bottom: 0;
    font-size: 3rem;
    font-family: 'DM Serif Display', serif;
    color: #E9F5FF;
}

h3 {
    font-size: 1.17rem;
    font-family: 'DM Serif Display', serif;
    color: #E9F5FF;
}

p {
    font-size: 1.2rem;
    font-family: 'Quicksand', sans-serif;
    color: #E9F5FF;
}

article div p {
    font-size: 1rem;
}

.text-center {
    text-align: center;
}

body {
    background-color: #0c0e14;
    margin: 0;
}

.stars {
    font-size: 1.5rem;
    /* letter-spacing: .5rem; */
    color: #E9F5FF;
    filter: drop-shadow(0px 0px 2px #aedbff);
}

.stars-uncheck {
    font-size: 1.5rem;
    /* letter-spacing: .5rem; */
}

hr {
    border: none;
    border-top: 5px solid #E9F5FF;
    border-radius: 5px;
    padding: 0vw 30vw;
    filter: drop-shadow(0px 0px 8px #aedbff)
}

.arrow-down {
    text-decoration: none;
    font-size: 90px;
    color: #aedbff;

    animation: up-down 3s ease-in-out infinite;

    &:hover {
        filter: drop-shadow(0px 0px 3px #aedbff74);
    }

}

/* nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    width: calc(100vw - 13 * 2);
    padding: 2.5vh 13vh;
    background-color: rgba(5, 11, 19, 0.9);
    position: sticky;
    top: 0;

    animation: turn-on-light 2.25s ease-in-out forwards;
}

a {
    font-family: 'Comfortaa', cursive;
}

.nav-bar {
    margin: 0 .25vw;
    padding: 2vh 1vw;
    text-decoration: none;
    color: #4D4D4D;
    transition: all 1s ease-out;
    animation: turn-on-text 2.25s ease-in-out forwards;
}

.nav-bar:hover {
    color: rgb(127, 255, 255);
}

.nav-logo {
    width: 100px;

    animation: turn-on-text 2.25s ease-in-out forwards;
}

#center-container {
    max-width: 2000px;
    margin: 0 auto;
    width: 100vw;
}

/* header */
header {
    height: calc(90vh - 74.58px);
    display: flex;
    flex-direction: column;
    gap: 10vh;
    align-items: center;
    background-color: #0c0e14;
    background-image:
        linear-gradient(to top, #0c0e14 0%, #ffffff00 33%),
        url('../images/photo/header-background.png');
    background-size: cover;
    background-position: center;

    animation: turn-on-text 1s ease-in-out forwards;

}

#header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;

    animation: turn-on-text 2.25s ease-in-out forwards;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;
}

.header-button {
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    width: 20%;
    color: #4D4D4D;
    padding: 2vh 4vw;
    border: 3px solid #4D4D4D;
    border-radius: 2dvw;
    transition: .15s ease-in;

    &:hover {
        transform: scale(1.1);
        color: #aedbff;
        border: 3px solid #aedbff;
        filter: drop-shadow(0px 0px 5px #aedbff);
        background-color: #aedbff1a;
    }
}

/* Review cards */
main {
    margin-top: 15vh;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-container {
    display: flex;
    flex-direction: row;
    padding: 1vw 2vw;
    background-image:
        linear-gradient(to bottom, #0c0e14 0%, #ffffff00 33%),
        url('../images/photo/scanlines.png');
    background-size: cover;
    background-color: #171922;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
    margin: 1vw;
    border-radius: 2vw;
    background-color: rgba(56, 66, 75, 0.582);
    filter: drop-shadow(0px 5px 10px #000000);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1vw;
    padding: 4vw;
    min-height: 500px;
    max-height: 1000px;
    border-radius: 1.3vw;
    border: 3px solid #78a2be;
}

.image-rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-buttons {
    font-size: 1rem;
    text-decoration: none;
    color: #4D4D4D;
    padding: 2vh 3vw;
    border: 3px solid #4D4D4D;
    border-radius: 2dvw;
    transition: .15s ease-in;
}

.card-buttons:hover {
    transform: scale(1.1);
    color: #aedbff;
    border: 3px solid #aedbff;
    filter: drop-shadow(0px 0px 5px #aedbff);
    background-color: #aedbff1a;
}

/* form */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw 0vw;
    background-image: url(../images/photo/scanlines.png);
    background-color: #171922;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3vw;
}

label {
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    color: #aedbff;
    margin: 4px 10px -8px 30px;
}

.flex-form .checkbox label {
    margin-left: 0;
}

.flex-form .checkbox input {
    margin-left: 30px;
}


input,
select,
textarea {
    margin: 10px;
    padding: 1vh 1vw;
    border: none;
    background-color: rgba(56, 66, 75, 0.582);
    filter: drop-shadow(5px 5px 3px #000000);
    color: #4D4D4D;
}

select,
button,
textarea,
input,
input[type=date] {
    font-family: 'Sarala', sans-serif;
    color: #ffe9e9;
}

option {
    background-color: #4D4D4D;
}

select option:disabled {
    color: #000;
    font-weight: bold;
}

input,
select {
    border-radius: 2vw;
}

textarea {
    border-radius: 1.4vw;
    resize: none;
}

select {
    appearance: none;
}

input:focus {
    background-color: #aedbff70;
    outline: none;

    transition: background-color .5s;
}

input:invalid:not(:placeholder-shown):not(:focus) {
    color: red;

    transition: all .2s ease-in;
}

input:valid:not(:placeholder-shown),
textarea:valid,
select:valid {
    background-color: #0dff3119;

    transition: all .2s ease-in;
}

button {
    padding: 1.5vh;
    margin: 0 10px;
    background-color: rgba(56, 66, 75, 0.582);
    filter: drop-shadow(5px 5px 3px #000000);
    color: #4D4D4D;
    border: 0;
    border-radius: 2vw;
}

button:hover {
    color: #aedbff;
    outline: 2px solid #aedbff;
    filter: drop-shadow(0px 0px 5px #aedbff);
    background-color: #aedbff1a;

    transition: all .25s ease-out;
}

.form-newspaper {
    display: flex;
}

.flex-form {
    display: flex;
    flex-direction: column;
}

.two-forms {
    display: flex;
    gap: 1vw;
    min-width: 363px;
}

form div {
    width: 50vw;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* footer */
.logo {
    width: 5vw;
    grid-area: logo;
    justify-self: baseline;
    align-self: center;
}

.copyright {
    grid-area: copyright;
    justify-self: baseline;
    align-self: center;
}

.socials {
    grid-area: socials;
    display: flex;
}

.socials img {
    width: 2vw;
}

.policy {
    grid-area: policy;
    justify-self: end;
    align-self: center;
}

footer {
    border-top: 2px solid #aedbff;
    background-color: rgba(5, 11, 19, 0.9);
    display: grid;
    grid-template-columns: [line1] 5vw [line2] 15vw [line3] auto [line4] 30vw [line5] 5vw [end];
    grid-template-rows: [line1] 2vw [line2] 6vh [line3] 2vw [line4] 2vw [line5] 2vw [end];
    grid-template-areas:
        ". . . . ."
        ". logo . . ."
        ". copyright . policy ."
        ". socials . . ."
        ". . . . .";
}

.copyright {
    font-size: .6rem;
    font-family: 'DM Serif Display', serif;
    letter-spacing: .15rem;
    color: #a2a2a2;
}

.policy a {
    font-size: 1rem;
    text-decoration: none;
    margin: 0 1vw;
    color: #a2a2a2;
}

@keyframes turn-on-light {
    0% {
        filter: drop-shadow(0px -1px 12px #ccfffc00);
    }

    100% {
        filter: drop-shadow(0px -1px 15px #ccfffc77);
    }
}

@keyframes turn-on-text {
    0% {
        filter: brightness(0);
    }

    25% {
        filter: brightness(0);
    }

    100% {
        filter: brightness(1);
    }
}

@keyframes up-down {

    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }


}

/* Voor mobieltjes van 480 breed */
@media (width <=480px) {

    nav,
    nav div {
        display: flex;
        flex-direction: column;
        gap: 5vw;
        position: relative;
    }

    .nav-logo {
        width: 40vw;
    }

    h1 {
        font-size: 3rem;
        text-align: center;
    }

    p {
        font-size: 1rem;
    }

    header {
        height: 100vh;
    }

    header div {
        width: 80vw;
    }

    .buttons-container {
        gap: 3vw;
    }

    .header-button {
        padding: 1vh;
        border: 2px solid #4D4D4D;
        border-radius: 4vw;

        &:hover {
            transform: scale(1.1);
            color: #aedbff;
            border: 2px solid #aedbff;
            filter: drop-shadow(0px 0px 5px #aedbff);
            background-color: #aedbff1a;
        }
    }

    .arrow-down {
        display: none;
    }

    .product-container {
        flex-direction: column;
        align-items: center;
        gap: 5vh;
    }

    .product-container article {
        width: 90vw;
        margin: 0;
        border-radius: 5vw;
    }

    .content {
        border-radius: 3vw;
        margin: 2vh 3vw;
    }

    .two-forms {
        flex-direction: column;
        margin: .5vh 0;
        gap: 0;
    }

    .form-container {
        padding-bottom: 15vh;
    }

    input,
    select {
        border-radius: 5vw;
    }

    textarea {
        border-radius: 5vw;
    }

    footer {
        border-top: 2px solid #aedbff;
        max-width: 480px;
        background-color: rgba(5, 11, 19, 0.9);
        display: grid;
        grid-template-columns: 10vw auto 10vw;
        grid-template-rows: 10vw repeat(4, 15vw) 10vw;
        grid-template-areas:
            ". . ."
            ". logo ."
            ". copyright ."
            ". socials ."
            ". policy ."
            ". . .";
    }

    .logo {
        width: 30vw;
        justify-self: baseline;
    }

    .copyright {
        justify-self: baseline;
    }

    .socials {
        display: flex;
    }

    .socials img {
        width: 10vw;
    }

    .policy {
        display: flex;
        flex-direction: column;
        justify-self: baseline;
        gap: 2vh;
    }

}

/* landscape mode */
@media (height <=480px) {

    nav,
    nav div {
        display: flex;
        gap: 5vw;
        position: relative;
    }

    h1 {
        font-size: 4rem;
        text-align: center;
    }

    header {
        padding-top: 10vh;
        height: 100vh;
    }

    header div {
        width: 80vw;
    }

    .product-container article {
        width: 30vw;
    }

    .content {
        min-height: 640px;
    }

    input,
    select,
    textarea {
        padding: 2vh 1vw;
    }

    input,
    select {
        border-radius: 3vw;
    }

    textarea {
        border-radius: 2vw;
    }

    .card-buttons {
        text-align: center;
    }

    footer {
        border-top: 2px solid #aedbff;
        max-width: 844px;
        background-color: rgba(5, 11, 19, 0.9);
        display: grid;
        grid-template-columns: 10vw auto 10vw;
        grid-template-rows: 10vw repeat(4, 10vw) 10vw;
        grid-template-areas:
            ". . ."
            ". logo ."
            ". copyright ."
            ". socials ."
            ". policy ."
            ". . .";
    }

    .logo {
        width: 30vw;
        justify-self: center;
    }

    .copyright {
        justify-self: center;
    }

    .socials {
        display: flex;
        justify-self: center;
    }

    .socials img {
        width: 10vw;
    }

    .policy {
        display: flex;
        flex-direction: column;
        justify-self: center;
        text-align: center;
        gap: 2vh;
    }
}